# Environments
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.npm
.eslintcache

# Logs
*.log

# OS
.DS_Store
Thumbs.db
